node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
public/favicon.ico
public/logo192.png
public/logo512.png
/.idea/.gitignore
/.idea/encodings.xml
/.idea/indexLayout.xml
/.idea/ShadcnHelperSettings.xml
/.idea/vcs.xml
